@import "scss/config";

$orange: #ff5000;
$blue: #00b7ff;
$black: #000;
$white: #fffcf2;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  background-color: $orange;
  background-size: cover;
}

.footer {
  padding: 40px;
  margin: auto;
  background-color: $blue;
  background-size: cover;
}

.grid__heading {
  margin-bottom: 40px;
  font-family: Oswald, Verdana, arial, sans-serif;
  font-size: 1.5rem;
}

.grid__text {
  margin-bottom: 40px;
  font-size: 1.5em;
}

.grid__row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: row;
}

.grid__col {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.grid__row-3 {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.grid__col-3 {
  width: 25%;
  margin-right: 20px;
  margin-left: 20px;
}

.grid__image {
  max-width: 100%;
}

.nav__heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: Oswald, Verdana, arial, sans-serif;
  font-size: 2em;
}

.navbar__links {
  display: flex;
  justify-content: center;
  list-style: none;
  list-style-type: none;
}

.navbar__link {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar__link:link {
  font-size: 14px;
  font-weight: bold;
  color: $black;
  text-decoration: none;
}

.navbar__link:active {
  text-decoration: underline;
}

.footer__heading {
  font-size: 1.3125;
  font-weight: bold;
}

.footer__links {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.footer__link {
  padding-bottom: 10px;
}

.footer__link:link {
  color: $black;
  text-decoration: none;
}

.footer__cr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__button {
  padding: 10px 50px;
  background-color: $blue;
  //border: none;
  border-radius: 3px;

}

.grid__button:hover {
  color: $white;
  background-color: $orange;
}

.grid__button2 {
  border: solid;
  border-color: $black;
  border-width: 1px;
  border-radius: 2.5px;
}

.grid__button2:hover {
  background-color: $blue;
  //border: none;
}

.card {
  min-width: 100%;
}

.cards {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.cards > .card {
  flex: 0 50%;
  box-sizing: border-box;
}

.grid__row-6 {
  display: flex;
  max-width: 2500px;
}

// TODO sækja allar sass skrár
@import "scss/config.scss";
