@import "scss/config";

$orange: #ff5000;
$blue: #00b7ff;
$black: #000;
$white: #fffcf2;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
}

.grid {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.grid__heading {
  margin-bottom: 20px;
  font-family: Oswald, Verdana, arial, sans-serif;
  font-size: 1.5rem;
}

.grid__text {
  margin-bottom: 40px;
  font-size: 1.5em;
}

.grid__row {
  display: flex;
  margin-top: 40px;
  margin-right: -10px;
  margin-bottom: 40px;
  margin-left: -10px;
}

.grid__col {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

.grid__row-3 {
  display: flex;
  margin-top: 20px;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px;
}

.grid__col-3 {
  width: 25%;
  margin-right: 10px;
  margin-left: 10px;
}

.grid__image {
  max-width: 100%;
}

.card {
  min-width: 100%;
}

.cards {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.cards > .card {
  flex: 0 50%;
  box-sizing: border-box;
}

.grid__row-6 {
  display: flex;
  max-width: 2500px;
}

// TODO sækja allar sass skrár
@import "scss/config.scss";
@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/button.scss";
